<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Utrust TX_HASH", suffix: " · Transaction validator" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="w-screen h-screen">
    <header class="w-full grid place-items-center">
      <a href="https://utrust.com/" class="block" target="_blank">
        <img src={Routes.static_path(@conn, "/images/utrust.png")} alt="Utrust Logo" class="h-24"/>
      </a>
    </header>
    <%= @inner_content %>
  </body>
</html>
